{{ with resources.Get "images/logo.svg" }}
<header class="global-header">
  <a class="site-title" href="{{ site.BaseURL }}" style="background-image: url({{ .RelPermalink }});">
    The
    DSRCT
    Initiative
  </a>

  <nav>
    <a href="{{ site.BaseURL }}">Home</a>
    <a href="{{ site.BaseURL }}/what-is-dsrct">What is DSRCT</a>
    <a href="{{ site.BaseURL }}/patient-journey">Patient Journey</a>
    <a href="https://www.facebook.com/groups/27473069578" target="_blank">Join</a>
    <a href="#">Support</a>
  </nav>
</header>
{{ end }}
